<html>
  <head>
    <script src='/socket.io/socket.io.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
    <script src="/public/client.js"></script>
    <title>Desafio 6 - WebSockets - Coder House</title>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
    <div>
      {{>chat}}
    </div>
</html>