<h2>
  Cargar Producto
</h2>
<form action='/productos' method='POST'>
    Nombre
    <input
      type='text'
      name='title'
      id='title'
    /><br /><br />
    $
    <input
      type='text'
      name='price'
      id='price'
    /><br /><br />
Thumbnail
    <input
      type='text'
      name='thumbnail'
      id='thumbnail'
    /><br /><br />
  <input
    id='btnId'
    type='submit'
    value='Cargar Producto'
  /></form><br />
  <a href='/productos'> Ver Lista de Productos </a>
